# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: main
  pull_request:

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: macos-latest, r: "release" }
          - { os: windows-latest, r: "release" }
          - {
              os: ubuntu-latest,
              r: "devel",
              http-user-agent: "release",
              rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest",
            }
          - {
              os: ubuntu-latest,
              r: "release",
              rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest",
            }
          - {
              os: ubuntu-latest,
              r: "4.1.0",
              rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest",
            }

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4
      - uses: r-hub/actions/setup-r-sysreqs@v1 # Install and setup R system dependencies on macOS.
        with:
          type: full

      - uses: actions/setup-java@v4
        with:
          distribution: "zulu" # openjdk
          java-version: "17"

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          pak-version: rc
          # about pak-version:
          # Ubuntu doesn't install the proper version of XML see https://github.com/r-lib/actions/issues/559. Remove when fixed.
          # see also: https://stackoverflow.com/questions/73243945/pkgdown-action-failing-at-build-xml
          # Also, pak standard error for pkgs using a subdir (we have Bayesian Tools), which is fixed in rc (2022)
          # ignoring ape package, manual install of 5.6 version
          extra-packages: any::rcmdcheck #, ape=?ignore-before-r=4.1.0
          needs: check
          #exclude: ape

      - name: Install ape 5.6
        run: Rscript -e "install.packages('https://cran.r-project.org/src/contrib/Archive/ape/ape_5.6.tar.gz', repos = NULL, type = 'source')"

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          error-on: '"error"'

  # Trigger CI using SticsRTest
  trigger-SticsRTest:
    name: Trigger SticsRTest check
    # Triggering for every branch when checks succeeded
    needs: R-CMD-check
    if: github.event_name == 'push' && needs.R-CMD-check.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Trigger
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.TRIGGER_PAT }}
          repository: SticsRPacks/SticsRTests
          event-type: R-CMD-check
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}", "repo": "${{ github.event.repository.name }}"}'
